<?xml version="1.0"?>
<configuration>
	<system.web>
		<httpModules>
			<add name="clsMyModule" type="clsMyModule"/>
		</httpModules>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
